/* Global border-box */
/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

/* Root */
:root {
    /* Text color */
    --main-color-text: #434455;
    --secondary-color-text: #2e2f42;
    --hero-color-text: #fff;
    --active-nav-text: #404bbf;
    --logo-accent-color: #4d5ae5;
    --logo-accent-dark: #2e2f42;
    --logo-accent-light: #f4f4fd;
    /* Button color */
    --btn-color-text: #fff;
    --btn-secondary-text: #404bbf;
    --normal-btn-color: #4d5ae5;
    --hover-btn-color: #404bbf;
    --secondary-btn-color: #f4f4fd;
    --border-btn-color: #e7e9fc;
    /* Clients color */
    --clients-normal-color: #8E8F99;
    --clients-hover-color: #404bbf;
    /* Background-color */
    --bg-color: #2e2f42;
    --main-bg-color: #fff;
    --secondary-bg-color: #f4f4fd;
}

/* Common styles */
a {
    display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
    font-style: normal;
    margin: 0;
}

p {
    font-style: normal;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main-color-text);
    background-color: var(--main-bg-color);
}
.link {
    text-decoration: none;
    color: var(--secondary-color-text);
}
.link:hover,
.link:focus {
}
.item {
    list-style-type: none;
}
.button:hover,
.button:focus {
    cursor: pointer;
}

/* Container */

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* Header block */
.header {
    border-bottom: solid 1px;
    border-color: var(--border-btn-color);
}
.header-con {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    justify-content: space-between;
}
.nav {
    display: inline-flex;
    color: var();
    text-decoration: none;
}
.header-nav {
}
/* Logo */
.logo {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: var(--logo-accent-color);
}
.logo-accent-dark {
    color: var(--logo-accent-dark);
}
.logo-accent-light {
    color: var(--logo-accent-light);
}
/* Nav */
.header-list {
    margin-left: 76px;
}
.header-item {
    display: inline-block;
    margin-right: 40px;
}
.header-link {
    font-family: "Roboto" sans-serif;
    font-weight: 500;
    letter-spacing: 0.32px;
    color: var(--secondary-color-text);
    text-decoration: none;
    padding: 24px 0px;
}
.link.current {
    color: var(--active-nav-text);
}
/* Contacts */
.header-list-con {
    display: inline-flex;
}
.header-item-con {
    margin-right: 40px;
}
.header-item-con:last-child {
    margin-right: 0;
}
.header-link-con {
    letter-spacing: 0.32px;
    padding: 24px 0px;
}
.header-link-con:hover,
.header-link-con:focus {
    color: var(--active-nav-text);
}

/* Main block */
.main {

}
.section {

}

/* Hero block */
.hero {
    background-color: var(--bg-color);
    text-align: center;
    padding-top: 188px;
    padding-bottom: 292px;
    margin-bottom: 72px;
}
.hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    color: var(--hero-color-text);
    width: 496px;
    margin: 0 auto 48px;
}
.hero-btn {
    font-weight: 500;
    letter-spacing: 0.64px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--btn-color-text);
    border: transparent;
    background: var(--normal-btn-color);
    padding: 16px 32px;
    margin: 0 auto;
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--hover-btn-color);
}

/* Features block */
.features {
    margin-bottom: 72px;
}
.features-title {
}
.features-list {
    display: flex;
}
.features-item {
    padding-right: 24px;
}
.features-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: var(--secondary-color-text);
    margin: 0 auto 8px;
}
.features-text {
    letter-spacing: 0.32px;
    width: 264px;
}

/* Gallery block */
.gallery {
    margin-bottom: 72px;
}
.gallery-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--secondary-color-text);
    text-align: center;
    padding-bottom: 72px;
}
.gallery-list {
    display: flex;
}
.gallery-item {
    margin-right: 24px;
}
.gallery-item:last-child {
    margin-right: 0;
}
.gallery-img {
}

/* Team block */
.team {
    background-color: var(--secondary-bg-color);
    padding-bottom: 120px;
}
.team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--secondary-color-text);
    text-align: center;
    padding-top: 120px;
    padding-bottom: 72px;
}
.team-list {
    display: flex;
}
.team-item {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),     
                0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
                0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    margin-right: 24px;
}
.team-item:last-child {
    margin-right: 0;
}
.team-img {
    overflow: hidden;
}
.taem-name-title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: var(--secondary-color-text);
    margin-top: 32px;
    margin-bottom: 8px;
}
.team-text {
    text-align: center;
    letter-spacing: 0.32px;
    margin-bottom: 32px;
}


/* Portfolio page */

/* Filters block */
.filters-title {
}
.filters-list {
}
.filters-item {
}
.filters-btn {
    font-weight: 500;
    letter-spacing: 0.64px;
    text-align: center;
    border-radius: 4px;
    color: var(--btn-secondary-text);
    border: 1px solid var(--border-btn-color);
    background-color: var(--secondary-btn-color);
}
.filters-btn:hover,
.filters-btn:focus {
    border-radius: 4px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 
                0px 2px 1px 0px rgba(0, 0, 0, 0.08), 
                0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    border: 1px solid transparent;
    color: var(--btn-color-text);
    background-color: var(--hover-btn-color);
}

/* Cards block */
.cards-title {
}
.cards-list {
}
.cards-item {
}
.cards-link {
}
.cards-img {
}
.cards-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: var(--secondary-color-text);
}
.cards-text {
    letter-spacing: 0.32px;
}

/* Footer section */
.footer {
    background-color: var(--bg-color);
    padding-top: 100px;
    padding-bottom: 100px;
}
.logo-footer {
    display: flex;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: var(--logo-accent-color);
}
.logo-accent {
}
.footer-text {
    letter-spacing: 0.32px;
    color: var(--logo-accent-light);
    width: 264px;
    margin-top: 7.5px;
}