/* Global border-box */
/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

/* Root */
:root {
    /* Text color */
    --main-color-text: #434455;
    --secondary-color-text: #2e2f42;
    --hero-color-text: #fff;
    --active-nav-text: #404bbf;
    --logo-accent-color: #4d5ae5;
    --logo-accent-dark: #2e2f42;
    --logo-accent-light: #f4f4fd;
    /* Button color */
    --btn-color-text: #fff;
    --btn-secondary-text: #404bbf;
    --normal-btn-color: #4d5ae5;
    --hover-btn-color: #404bbf;
    --secondary-btn-color: #f4f4fd;
    --border-btn-color: #e7e9fc;
    /* Clients color */
    --clients-normal-color: #8E8F99;
    --clients-hover-color: #404bbf;
    /* Social network */
    --normal-bg-social: #4d5ae5;
    --hover-bg-social: #404bbf;
    --hover-bg-ft-social: #31d0aa;
    --color-icon-social: #f4f4fd;
    /* Background-color */
    --bg-color: #2e2f42;
    --main-bg-color: #fff;
    --secondary-bg-color: #f4f4fd;
    --bg-overlay-color: #4d5ae5;
    --bg-modal-color: #fcfcfc;
    --bg-modal-btn: #E7E9FC;

    /* Block elements */
    --items: 3;
    --indent-vertical: 24px;
    --indent-horizontal: 48px;
    --indent-icon: 16px;
}

/* Common styles */

body {
    display: flex;
    flex-direction: column;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main-color-text);
    background-color: var(--main-bg-color);
}
main {
    flex-grow: 1;
}

/* Reset */
a {
    display: inline-block;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0 auto;
}

ul, ol {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
	display: block;
    max-width: 100%;
}

button {
    cursor: pointer;
    transition-property: cursor;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}
.link {
    text-decoration: none;
    color: var(--secondary-color-text);
}
.link:hover,
.link:focus {
}
.item {
    list-style-type: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Container */

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* Header block */
.header {
    border-bottom: solid 1px;
    border-color: var(--border-btn-color);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 
                0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
                0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-con {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-left: auto;
}
.nav {
    
    
    color: var();
    text-decoration: none;
}
.header-nav {
}
/* Logo */
.logo {
    display: flex;
    
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
    
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    
    text-transform: uppercase;
    color: var(--logo-accent-color);
}
.logo-accent-dark {
    color: var(--logo-accent-dark);
}
.logo-accent-light {
    color: var(--logo-accent-light);
}
/* Nav */
.header-list {
}
.header-item {
    display: inline-block;
    margin-right: 40px;
}
.header-link {
    position: relative;
    font-family: "Roboto" sans-serif;
    font-weight: 500;
    letter-spacing: 0.32px;
    color: var(--secondary-color-text);
    text-decoration: none;
    padding: 24px 0px;
}
.link.current {
    color: var(--active-nav-text);
}
.header-link.current::after {
    content: "";
    position: absolute;
    
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    
    background-color: var(--active-nav-text);
    border-radius: 2px;
}
/* Contacts */
.header-list-con {
    display: inline-flex;
}
.header-item-con {
    margin-right: 40px;
}
.header-item-con:last-child {
    margin-right: 0;
}
.header-link-con {
    letter-spacing: 0.32px;
    padding: 24px 0px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link-con:hover,
.header-link-con:focus {
    color: var(--active-nav-text);
}

/* Main block */
.main {

}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
    
}

/* Hero block */
.hero {
    text-align: center;

    padding-top: 188px;
    padding-bottom: 188px;

    background-color: var(--bg-color);
    background-image: linear-gradient(to bottom, 
                    rgba(46, 47, 66, 0.70), 
                    rgba(46, 47, 66, 0.70)),
                      url('../images/hero/img-hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
.hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    color: var(--hero-color-text);
    width: 496px;
    margin: 0 auto 48px;
}
.hero-btn {
    font-weight: 500;
    letter-spacing: 0.64px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--btn-color-text);
    border: transparent;
    background: var(--normal-btn-color);
    padding: 16px 32px;
    margin: 0 auto;
    transition-property: background-color;      
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--hover-btn-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Features block */
.features {
}
.features-title {
}
.features-icon-con {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    
    height: 112px;
    padding: 24px 100px;
    margin-bottom: 8px;
    
    border-radius: 4px;
    background-color: var(--secondary-bg-color);
}
.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent-vertical);
    --items: 4;
}
.features-item {
    width: calc((100% - var(--indent-vertical) * (var(--items) - 1)) / var(--items));
}
.features-subtitle {
    margin-bottom: 8px;
    
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    
    color: var(--secondary-color-text);
}
.features-text {
    letter-spacing: 0.32px;
    width: 264px;
}

/* Gallery block */
.gallery {
    padding-top: 0px;
}
.gallery-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
    
    padding-bottom: 72px;
    
    color: var(--secondary-color-text);
}
.gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent-vertical);
}
.gallery-item {
    width: calc((100% - var(--indent-vertical) * (var(--items) - 1)) / var(--items));
}
.gallery-img {
}

/* Team block */
.team {
    background-color: var(--secondary-bg-color);
}
.team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--secondary-color-text);
    text-align: center;
    padding-bottom: 72px;
}
.team-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--indent-vertical);
    --items: 4;
}
.team-item {
    width: calc((100% - var(--indent-vertical) * (var(--items) - 1)) / var(--items));

    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),     
                0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
                0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-item:last-child {
    margin-right: 0;
}
.team-img {
    overflow: hidden;
}
.team-con {

}
.taem-name-title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: var(--secondary-color-text);
    margin-top: 32px;
    margin-bottom: 8px;
}
.team-text {
    text-align: center;
    letter-spacing: 0.32px;
    margin-bottom: 8px;
}
.team-list-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--indent-vertical);
    margin-bottom: 32px;
}
.team-item-social {
}
.team-link-social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--normal-bg-social);
    fill: var(--color-icon-social);
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-link-social:hover, 
.team-link-social:focus {
    background-color: var(--hover-bg-social);
    fill: var(--color-icon-social);
}
.team-icon-social {

}



/* Customers block */
.customer {
}
.customer-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--secondary-color-text);
    text-align: center;
    padding-bottom: 72px;
}
.customer-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent-vertical);
    --items: 6;
}
.customer-item {
    width: calc((100% - var(--indent-vertical) * (var(--items) - 1)) / var(--items));
}
.customer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 168px;    
    height: 88px;
    border: 1px solid var(--clients-normal-color);
    fill: var(--clients-normal-color);
    border-radius: 4px;
    transition-property: border, fill, border-radius;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-link:focus, .customer-link:hover {
    border: 1px solid var(--clients-hover-color);
    fill: var(--clients-hover-color);
    border-radius: 4px;
}
.custom-icon {
}

/* Portfolio page */

/* Filters block */
.section-portfolio{
    padding-top: 96px;
    padding-bottom: 120px;
}
.filters-title {
}
.filters-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}
.filters-item {
}
.filters-btn {
    font-weight: 500;
    letter-spacing: 0.64px;
    text-align: center;
    border-radius: 4px;
    color: var(--btn-secondary-text);
    border: 1px solid var(--border-btn-color);
    background-color: var(--secondary-btn-color);
    padding: 12px 24px;
    margin-left: 24px;
    transition-property: border-radius, box-shadow, border, color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filters-btn:hover,
.filters-btn:focus {
    border-radius: 4px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 
                0px 2px 1px 0px rgba(0, 0, 0, 0.08), 
                0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    border: 1px solid transparent;
    color: var(--btn-color-text);
    background-color: var(--hover-btn-color);
}

/* Cards block */
.cards-title {
}
.cards-list {
    display: flex;
    flex-wrap: wrap;
    
    row-gap: var(--indent-horizontal);
    column-gap: var(--indent-vertical);

    background-color: var(--main-bg-color);
}
.cards-item {
    position: relative;
    overflow: hidden;

    width: calc((100% - var(--indent-vertical) * (var(--items) - 1)) / var(--items));
    
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
                0px 1px 1px 0px rgba(46, 47, 66, 0.16),
                0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.cards-link {
    display: block;
}


/* Overlay */
.cards-wrapper {
    position: relative;
    overflow: hidden;
}
.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    padding: 40px 32px;
    background-color: var(--bg-overlay-color);
    color: var(--logo-accent-light);
    
    /* transition: transform var(--main-transition-duration-and-timing-function); */
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-link:hover .overlay-text,
.cards-link:focus .overlay-text {
    transform: translateY(0);
}
.cards-img {
}
.cards-container {
    padding: 32px 16px;
    border: 1px solid var(--border-btn-color);
    border-top: none;
}
.cards-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: var(--secondary-color-text);
    margin-bottom: 8px;
}
.cards-text {
    letter-spacing: 0.32px;
}

/* Footer section */
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--bg-color);
  }
  .container-footer {
    display: flex;
    align-items: baseline;
  }
  .container-logo {
    margin-right: 120px;
  }
  .footer .logo {
    display: inline-block;
    margin-bottom: 16px;
  }
  .footer .logo-accent,
  .text-footer {
    color: var(--logo-accent-light);
  }
  .text-footer {
    max-width: 264px;
  }
  .container-social {
    margin-right: 80px;
  }
  .subtitle-social {
    margin-bottom: 16px;
    color: var(--logo-accent-light);
    font-weight: 500;
  }
  .list-social-icon {
    display: flex;
    gap: var(--indent-icon);
    justify-content: center;
    align-items: center;
  }
  .iteam-social-icon {
  }
  .link-social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 40px;
    height: 40px;
    
    border-radius: 50%;
    background-color: var(--normal-bg-social);
    transition: background-color;
  }
  .link-social-icon:hover,
  .link-social-icon:focus {
    background-color: var(--hover-bg-ft-social);
  }
  .footer-icon {
    flex-shrink: 0;
    fill: var(--color-icon-social);
  }

/* Modal window */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.40);
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    height: 584px;

    transform: translateX(-50%) translateY(-50%);

    background-color: var(--bg-modal-color);
    border-radius: 4px;
}
.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;
    padding: 0;

    background-color: var(--bg-modal-btn);
    border: 1px solid rgba(0, 0, 0, 0.10);;
    border-radius: 50%;
}
.modal-icon {
    position: absolute;
}